<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/main.css">
	</head>
	<body>
	<div>
			{{blanks}}
			<br>
			Wrong Guesses: {{guesses}}
			<br>
			Guesses Remaining: {{wrong}}
			<br>
			{{{solvedmessage}}}
			<!-- <br>
			<form action='/' method='post'>
			Guess: <input type="text" name="inputguess" value="" maxlength="1" autofocus>
			<br>
			<input type="submit" name="Enter" value="Enter"> -->
		</form>
	</div>
	</body>
</html>
