<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hangman</title>
		<link rel="stylesheet" href="/main.css">
	</head>
	<body>
		<div id="title">
			Hangman
		</div>
		<div id="difficulty">
			<form action="/easy" method="post">
				<input type="submit" name="easybutton" value="Easy">Basic Words
			</form>
			<form action="/medium" method="post">
				<input type="submit" name="mediumbutton" value="Medium">Tricky Words
			</form>
			<form action="/hard" method="post">
				<input type="submit" name="hardbutton" value="Hard">All of the Words
			</form>
			<form action="/mystic" method="post">
				<input type="submit" name="hardbutton" value="Mystic">Guess a string of randomly generated characters.
			</form>
			<form action="/apocalyptic" method="post">
				<input type="submit" name="apocalypticbutton" value="Apocalyptic">One letter.  One guess.
			</form>
			<form action="/impossible" method="post">
				<input type="submit" name="impossiblebutton" value="Impossible">The word is generated after you have used all of your guesses. (You cannot win this.)
			</form>
		</div>
		<div id="hangmanimages">
			<img id="hangman" src=images/Hangman-6.png>
		</div>
		<script src="script.js">
		</script>
	</body>
</html>
