<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hangman</title>
		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/winnerform.css">
	</head>
	<body>
		<div id="title">
			You won!
		</div>
		
		Enter your name:
		<form action='/winnerlist' method="post">
			<input type="text" name="winnername" value="" autofocus>
			<input type='submit' value="Submit">
		</form>
	</body>
</html>
