<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hangman</title>
		<link rel="stylesheet" href="/main.css">
	</head>
	<body>
		Enter your name:
		<form action='/winnerlist' method="post">
			<input type="text" name="winnername" value="" autofocus>
		</form>
	</body>
</html>
