body {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	height: 100vh;

}
#title {
	grid-column: 1/5;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#difficulty {
	grid-row: 2/3;
	grid-column: 1/2;
}
#difficulty form {
	margin: 10px
}
#difficulty form input {
	margin: 10px
}
#hangmanimages {
	grid-row: 3/5;
	grid-column: 2/3;
	align-items: center;
	justify-content: center;
}
