* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
body {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	text-align: center;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
#blanks {
	grid-row: 2/3;
	grid-column: 1/6;
	/*border-style: solid;
	border-width: 1px;
	border-color: black;*/
	font-size: 100px;
}
#wrongguesses {
	grid-row: 4/5;
	grid-column: 2/3;
	font-size: 30px
	/*border-style: solid;
	border-width: 1px;
	border-color: black;*/
}
#hangmanimages {
	grid-row: 4/5;
	grid-column: 3/4;
}
#hangman {
	width: 100%;
	height: 100%;
}
#letterguess {
	width: 60px;
	font-size: 50px
}
input:focus {
	color: transparent;
	text-shadow: 0 0 0 black;
}
#winnerheading {
	grid-column: 1/5;
	grid-row: 1/2;
}
#winnertable {
	grid-column: 2/4;
	grid-row: 2/6;
}
